<h2 style="margin: 1.75em 0 .5em;color: #333;font-weight: bold;font-size: 1.1em;">
  Activate OTP
</h2>
<p>Someone asked to activate OTP on your account. <strong>If you did not do that, please ignore this email and DO NOT CLICK ON THIS LINK.</strong></p>
<p>To activate OTP authentication, please click here: <a href="https://www.bitfinex.com/account/activate_otp/?id=<%= @token %>">https://www.bitfinex.com/account/activate_otp/?id=<%= @token %></a></p>
