<h2 style="margin: 1.75em 0 .5em;color: #333;font-weight: bold;font-size: 1.1em;">
	You have a positive balance in your <a href="https://www.bitfinex.com">Bitfinex</a> wallets.
</h2>
<p>Why don't you come and make them work by lending, trading or exchanging them?

Sign in now: <a href="https://www.bitfinex.com/login">Bitfinex</a>