<h2 style="margin: 1.75em 0 .5em;color: #333;font-weight: bold;font-size: 1.1em;">
	Warning: Low balance on <%= @exchange %>
</h2>
<strong>Currency: </strong> &nbsp; <%= @currency %><br/>
<strong>Balance remaining: </strong> &nbsp; <%= @balance %><br/>
<strong>Balance necessary: </strong> &nbsp; <%= @requiredbalance %><br/>
<p>Don't forget to adjust balances :)</p>