<p>Your trading position is getting a margin call.</p>
<p>Your collateral is getting too small because of losses incurred in your position.</p>
<p>Please deposit funds on your trading wallet as soon as possible if you want to avoid a forced liquidation. </p>