<h2 style="margin: 1.75em 0 .5em;color: #333;font-weight: bold;font-size: 1.1em;">
  You have been added to our representative program!
</h2>
<p>You are now a representative of Bitfinex. You can refer new user to our platform.</p>
<p>You will earn 10% of the fees your affiliates generate on Bitfinex for life, while they will get a 10% discount
  the first month they register.</p>
<p>You can find your referrer code, as well as all necessary information,
  <a style="font-weight: bold;" href="https://www.bitfinex.com/representatives">here</a>!</p>
