<h2 style="margin: 1.75em 0 .5em;color: #333;font-weight: bold;font-size: 1.1em;">
  Your password has been reset
</h2>
<p>Your password has been reset on Bitfinex. Your new password is:</p>
<p><%= @pwd %></p>
<p>Please change it as soon as you are connected to Bitfinex.</p>