<p>Your position will soon expire. Try to close it at the best time possible!</p>
<p>Position detail: </p>
<strong>Amount: </strong> &nbsp; <%= @position.amount %><br/>
<strong>Pair: </strong> &nbsp; <%= @position.currency %><br/>
<strong>Status: </strong> &nbsp; <%= @position.status %><br/>
<strong>Current Profit/Loss: </strong> &nbsp; <%= @position.pl %><br/>