<h2 style="margin: 1.75em 0 .5em;color: #333;font-weight: bold;font-size: 1.1em;">
  Reset your password
</h2>
<p>Someone asked to have your password reset on Bitfinex. If you did not do that, please ignore this email.</p>
<p>To reset your password, please click here: <a href="https://www.bitfinex.com/pages/reset_pwd/?id=<%= @token %>">https://www.bitfinex.com/pages/reset_pwd/?id=<%= @token %></a></p>
<p>This link will be valid until <%= Time.now + 1.day %></p>