<h2 style="margin: 1.75em 0 .5em;color: #333;font-weight: bold;font-size: 1.1em;">
	Welcome to Bitfinex!
</h2>
<p>You're now ready to leverage trade, exchange bitcoins and earn interests on your deposit!</p>
<p>You can start by familiarizing yourself with all the Bitfinex features and how to use them <a style="font-weight: bold;" href="https://www.bitfinex.com/pages/support">here</a></p>
<p>Then you can start using Bitfinex by depositing some money into your account from the <a style="font-weight: bold;" href="https://www.bitfinex.com/account/deposit">deposit page</a></p>
<p>We hope that you'll enjoy our platform. We'd be glad to hear your suggestions to improve it and your feedback. Don't hesitate to contact us at contact@bitfinex.com
<p>Thank you for choosing us and enjoy Bitfinex!</p>
