</div>
</div>
<% title t "account.account_settings" %>
<div class="row tables">
  <div class="large-12 columns">
    <div class="large-12 columns page">
      <h4><i class="icon-wrench"></i> ACCOUNT SETTINGS</h4>
      <%= render 'form' %>
    </div>
  </div>
</div>