<div class="content">
  <div class="row">
    <div class="large-12 columns">
      <div class="border">
        <h2><span><%= t "account.signup" %></span></h2>

        <p><%= t "account.already_have_account" %> <%= link_to t("account.login"), login_path %>.</p>


        <%= render 'form' %>

      </div>
    </div>
  </div>
</div>