<section>
  <p class="title" data-section-title><a href="#">What is Bitfinex? <i></i></a></p>

  <div class="content" data-section-content>
    <p>Bitfinex is a trading platform for Bitcoin and Litecoin with many advanced features including margin trading, exchange and liquidity swaps.</p>
  </div>
</section>
<section>
  <p class="title" data-section-title><a href="#">How secure is Bitfinex? <i></i></a></p>

  <div class="content" data-section-content>
    <p>We take security very seriously. We pride ourselves on being the most secure bitcoin exchange.
      <a href="/pages/security">See our security practices here</a></p>
  </div>
</section>
<section>
  <p class="title" data-section-title><a href="#">Who are you? Are you a registered company? <i></i></a></p>

  <div class="content" data-section-content>
    <p>The Bitfinex trading platform is currently in a beta phase (testing phase). The company is incorporated in Hong Kong as a Limited Liability Corporation. Once the beta phase testing is complete the system will go live under the company name.</p>
    <p>The team behind Bitfinex: Initially founded by Raphael Nicolle, it is now powered by a small team of crypto currency and finance experts dedicated to make Bitfinex grow to the highest standards.</p>
  </div>
</section>
<section>
  <p class="title" data-section-title><a href="#">How does it work? <i></i></a></p>

  <div class="content" data-section-content>
    <p><a href="/pages/howitworks">See how Bitfinex works here</a></p>
  </div>
</section>
<section>
  <p class="title" data-section-title><a href="#">What is a settlement? <i></i></a></p>

  <div class="content" data-section-content>
    <p>In your history, you may see the word 'settlement'. Settlement is the process of correcting a negative balance. Let's take an example: Let's say Bitfinex charges a trading fee of 0.1 BTC to user1. But user1 only has dollars in his wallet, and no BTC . So Bitfinex will charge the BTC, and then make a settlement, converting the BTC charged from the dollars balance of user1. To make this conversion, the rate used is the last ask price (if we settle a negative BTC balance) or bid price (if we settle a negative USD balance).<br/>
      You will then see a debit in your settled balance, and a credit to the other balance.</p>
  </div>
</section>