<% if logged_in? %>
    </div>
    </div>
<% end %>
<%= render "javascript" %>
<% title "About us" %>
<a name="top"></a>
<div class="content">
  <div class="row">
    <div class="large-12 columns">
      <div class="border">
        <h2><i class="icon-group"></i> <span>About</span></h2>
        <hr/>
        <div class="row">
          <div class="large-9 columns">
            <%= render '/pages/about_short' %></p>
            <!--<h4>The team behind Bitfinex</h4>
            <ul>
              <li><a href="" target="_blank"></a></li>
              <li></li>
              <li>The founders are supported by a small team of crypto currency experts as well as finance experts</li>
            </ul>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>