<% if logged_in? %>
    </div>
    </div>
<% end %>
<%= render "javascript" %>
<% title "About us" %>
<a name="top"></a>
<div class="content">
  <div class="row">
    <div class="large-12 columns">
      <div class="border">
        <h2><i class="icon-group"></i> <span>About</span></h2>
        <hr/>
	<%= render '/pages/about_short' %></p></p>
	<h4>Bitfinex团队</h4>
	<ul>
		<li><a href="http://fr.linkedin.com/in/raphaelnicolle/en" target="_blank">Raphael NICOLLE</a>, 创始人</li>
		<li>Patricia DURAND, 共同创始人, 为Bitfinex带来IT专业人才</li>
		<li>团队成员包括加密货币和金融界的专业人才</li>
	</ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

