<% if logged_in? %>
    </div>
    </div>
<% end %>
<%= render "javascript" %>
<% title "Bitfinex Privacy Policy" %>
<a name="top"></a>
<div class="content">
  <div class="row">
    <div class="large-12 columns">
      <div class="border">
        <h2><i class="icon-group"></i> <span>Bitfinex Privacy Policy</span></h2>

        <h3>BITFINEX的隐私政策 </h3>

        <p>我们的业务建立在客户与我们的诚信上。为确保所有信息的保密性，我们的隐私条例如下：
        <ul>
          <li>我们只收集与开展业务相关的客户个人信息。</li>
          <li>通过使用您的个人信息，我们为您提供更好的客户服务和产品。</li>
          <li>在法律允许的情况下，我们可能将您的个人信息转到BITFINEX集团旗下的其他公司或代理。</li>
          <li>在未得到您的同意或法律规定，或已事先通知您时，我们不会向任何外部机构透露您的个人信息。
          </li>
          <li>在合理的权限范围，我们会向政府，司法机构，代理或监管机构透露您的个人信息。
          </li>
          <li>我们确保您的个人信息的及时性和准确行。</li>
          <li>我们维护严格的安全系统，以防止任何人（包括我们的工作人员）未经授权的访问您的个人信息。
          </li>
          <li>所有允许访问您信息的BITFINEX集团企业，全体员工和所有第三方必须遵守我们的保密协议。
          </li>
        </ul>
        通过我们对隐私条例的承诺做出的努力，我们相信您会对我们建立起足够的信任。</p>

        <h3>您的隐私对我们至关重大</h3>

        <p>本节提供了我们如何对待您访问此网站时留下的任何个人信息。</p>
        <h4>数据安全</h4>
        <ul>
          <li>安全是我们的首要任务。 为了保护你的个人资料的安全，防止个人信息未经授权或意外地被处理或删除，BITFINEX全力进行实物，电子和人员管理措施。
          </li>
          <li>我们网站的安全区域支持使用128位的安全套接层（SSL）加密技术 -
                这是一项保护数据的标准的网络加密方法。当你提供敏感信息，如信用卡信息时，它会自动转换成密码，然后安全地传送到互联网上。
          </li>
          <li>我们的网页服务器受到防火墙的保护，我们的系统被24小时监控，以防止未经授权的访问。
                BITFINEX将遵守所有在香港特别行政区的法律和法规要求，并采取切实可行的步骤，缩短个人资料的保留期限。
          </li>
        </ul>
        <h4>安全保证</h4>

        <p>您和BITFINEX在对抗网上诈骗行为上都起到了重要作用。请不要和他人共用您的帐户资料，包括用户名和/或密码，同时我们也会用高标准的安全系统保障您的利益。</p>

        <p>请不要与他人分享或写下您的用户名和密码。当选择您的用户名和密码时，请不要创建易于识别的信息，比如您的生日，电话号码或姓名。如果您认为你的用户名和/或密码已被泄露给第三方，丢失，被盗或未经授权的被进行交易，请马上联系我们。</p>

        <h4>收集个人信息</h4>
        <h5>Cookies, Spotlight标签和网络信标的运用</h5>

        <p>  你的访问可能会被记录用作浏览量和使用量的分析。其中部分信息通过Cookies收集。 Cookies是电脑中网页浏览器里自动储存的信息，可以由本网站取得。
          Cookies记录您对某些网站的偏好，让网站经营者能更有效地服务房爷用户。Cookies收集的资料采取无名制，且不包含任何名称，地址，电话，电子邮件或任何其他通信方式。大多数浏览器最初设置为接受Cookies。如果您愿意，您可以设置您的浏览器禁用Cookie。然而，禁用Cookie，网站无法根据您的喜好提供相关信息。</p>
        <h5>市场推广  </h5>

        <p>我们有时会收集访问网站和参加竞赛或推广的用户资料。这些用户都是在已知的情况下资源提供资料。我们会根据这些信息向他们推广产品，服务或他们感兴趣的营销材料。我们也会邀请访问者参加市场研究和调查及其他

          类似的活动。  您可以选择通过电子邮件接收市场推广和其他宣传材料。如果你不再希望收到相关信息，您可选择退出。  如果在任何时候您想

          我们停止向您发送邮件，请通过电子邮件联系我们的客服。</p>

        <h4>个人资料（私隐）通知条例</h4>

        <p>本声明乃BITFINEX根据香港特别行政区个人资料（私隐）条例制定。该声明的目的是为了告知您收集个人资料的原因，使用方式和使用者。</p>
        <ol style="list-style-type: lower-alpha">
          <li>客户需向我们提供数据进行开户和账户维护，建立和运行设施或服务，或遵守相关法律或监管机构所发出的指引。
          </li>
          <li>未能提供有关资料，可能导致在BITFINEX无法开立或延续户口，建立和运行设施或服务，或遵守相关法律或监管机构所发出的指引。</li>
          <li>在正常持续的合作关系下向客户收集数据（例如当政策改变时）。
          </li>
          <li>客户数据可用于如下用途:</li>
          <ol style="list-style-type: upper-roman">
            <li>提供给客户的日常服务和设施运作;</li>
            <li>满足法律条款的披露要求和相关银行或支行需遵守的监管或其他机构所发出的指引。</li>
          </ol>
          <li>BITFINEX保密所持有的客户数据，但会在段落(D)的情况下将信息提供给
                以下人士（不论是否香港特别行政区境内或境外）:
          </li>
          <ol style="list-style-type: upper-roman">
            <li>任何代理人，承包商或第三方服务提供商为BITFINEX运作提供行政，电讯，电脑，付款或证券结算或其他服务
            </li>
          </ol>
          <li>任何对BITFINEX有保密责任的人或BITFINEX集团公司已承诺保密该资料;
          </li>
          <li>法律规定BITFINEX对任何人有披露信息的义务，和遵守相关法律或监管机构所发出的指引。
          </li>
        </ol>
        </ol>

        <p class="important">重要提示：访问本网站的任何网页，即表示您同意上述所载的条款。感谢您选择BITFINEX。</p>
      </div>
    </div>
  </div>
</div>
