<% if logged_in? %>
    </div>
    </div>
<% end %>
<%= render "javascript" %>
<% title "Support" %>
<a name="top"></a>
<div class="content">
  <div class="row">
    <div class="large-12 columns">
      <div class="large-12 columns">
        <div class="row border">
          <div class="large-12 columns">
            <h2><i class="icon-question-sign"></i> <span>FAQ</span></h2>
          </div>
          <div class="large-2 columns sidebar">
            <a href="https://community.bitfinex.com/content.php" class="success green radius button" target="_blank"><i class="icon-group"></i><br/>Community</a>
            <a href="https://community.bitfinex.com/showwiki.php" class="success green radius button" target="_blank"><i class="icon-globe"></i><br/>Wiki</a>
            <a href="/pages/contact" class="button green success radius contact">彆蠟衄坻恀枙ㄛ <br/><br/><span>薊炵扂蠅﹝</span><br/><br/><i class="icon-envelope"></i></a>
          </div>
<div class="large-10 columns faq">
            <hr/>
            <div class="section-container accordion" data-section="accordion">
              <%= render '/pages/support_short' %>
              <section>
<p class="title" data-section-title><a href="#">扂洷咡妏蚚 MtGox腔蝠眢耀宒,蜆崋繫酕ˋ <i></i></a></p>
<div class="content" data-section-content>
<p>蠟褫眕羲扢珨跺※颯遴億啟§梖誧甜婓Bitfinex恁寁※募遙億啟§戲﹝</p>
                </div>
              </section>
              <section>
<p class="title" data-section-title><a href="#">扂岆珨跺bitcoin酗厥衄氪ㄛ恀闡笱梖誧巠磁扂ˋ  <i></i></a></p>
<div class="content" data-section-content>
<p>蠟褫羲扢珨跺※湔遴§梖誧質bitcoins跤Bitfinex腔蝠眢蚚誧﹝</p>
                </div>
              </section>
              <section>
<p class="title" data-section-title><a href="#">彆扂祥鎗闖Bitcoinㄛ褫眕芘訧Bitcoin庈部鎘ˋ  <i></i></a></p>
<div class="content" data-section-content>
<p>蠟褫羲扢珨跺※湔遴§梖誧質藝啋跤Bitfinex腔蝠眢蚚誧﹝</p>
                </div>
              </section>
              <section>
<p class="title" data-section-title><a href="#">峈妦繫扂剒猁質訧踢輛俴話裝蝠眢ㄗ悵痐踢蝠眢ㄘˋ  <i></i></a></p>
<div class="content" data-section-content>
<p>蠟剒猁勤茼腔bitcoins麼藝啋輛俴鎗闖隆等﹝珨啜蝠眢ㄛ蠟硐剒妏蚚蠟腔跺訧踢輛俴鎗闖﹝奧悵痐踢蝠眢剒猁蠟砃堤質質話裝蝠眢垀剒腔訧踢﹝絞庈部軗砃迵蠟腔芘訧源砃眈毀奀ㄛ蠟蝠眢婦爵腔bitcoins麼USD蚚衾盓葆蝠眢笢腔囷囮ㄛ眕野遜堤質﹝ </p>
                </div>
              </section>
              <section>
<p class="title" data-section-title><a href="#">俴累寞隅牉寀? <i></i></a></p>
<div class="content" data-section-content>
<p>絞蠟腎翹梖誧綴ㄛ蠟夔艘善梖誧撈奀噱訧莉睿累弇垀剒噱訧莉﹝絞蠟腔噱訧莉腴衾累弇垀剒噱訧莉腔1/2奀ㄛ梖誧垀衄累弇頗掩俴累﹝彆蠟祥摯奀湔遴ㄛ蠟腔累弇頗掩赻雄壽敕﹝</p>
                </div>
              </section>
              <section>
<p class="title" data-section-title><a href="#">衄蝠眢煤蚚鎘ˋ  <i></i></a></p>
<div class="content" data-section-content>
<p>善 <a href="/pages/fees" target="_blank">煤蚚珜醱</a></p>脤艘彶煤梓袧﹝</p>
                </div>
              </section>
              <section>
<p class="title" data-section-title><a href="#">妦繫岆賦呾? <i></i></a></p>
<div class="content" data-section-content>
<p>蠟腔盪妢戲笢褫夔頗堤珋※賦呾§砐醴﹝賦呾岆珨跺載蜊蛹杅豻塗腔暮翹﹝撼瞰ㄩBitfinex砃u蚚誧A彶0.1BEC腔蝠眢煤蚚ㄛ筍 蚚誧A婦爵硐衄藝啋﹝Bitfinex頗珂彶BTC, 婬賦呾ㄛ蔚BTC彶煤蜊峈藝啋彶煤﹝募遙薹峈郔陔腔闖歎ㄗBTC蛹杅豻塗ㄘ麼鎗歎ㄗ藝啋蛹杅豻塗ㄘ﹝<br />
蠟頗艘善訧踢植蠟掩賦呾腔梖誧豻塗盓堤ㄛ甜湔鍚珨跺婦﹝</p>
                </div>
              </section>
              <section>
<p class="title" data-section-title><a href="#">妦繫岆 "笐紲隆等"? <i></i></a></p>
<div class="content" data-section-content>
<p>笐紲隆等祥珆尨婓隆等情奻ㄛ垀眕祥頗荌砒坻庈部蝠眢氪﹝善<a href="/pages/fees" target="_blank">煤蚚珜醱</a> 脤艘笐紲隆等郔苤杅講睿妏蚚煤蚚﹝</p>
                </div>
              </section>
              <section>
<p class="title" data-section-title><a href="#"> Mtgox奻腔隆等ㄛ頗堤珋婓Mtgox腔隆等情奻鎘ˋ  <i></i></a></p>
<div class="content" data-section-content>
<p>祥頗﹝醴蠟腔隆等礿隱婓扂蠅囀窒腔隆等移爵﹝絞蠟腔硌隅傖蝠歎跡迵Mtgox隆等移奻腔歎跡眈睫奀ㄛ蠟腔隆等頗掩傖蝠﹝MtgGox拸楊枑鼎撿极隆等腔蝠眢盪妢杅擂ㄛ垀眕彆扂蠅蔚蠟腔隆等奻換善坳腔隆等移奻ㄛ拸藷蔚拸楊載陔蠟腔隆等﹝</p>
                </div>
              </section>
              <section>
<p class="title" data-section-title><a href="#">湔遴瞳洘睡數呾ˋ <i></i></a></p>
<div class="content" data-section-content>
<p>質堤扢蕾黃赻腔瞳薹﹝羲累奀ㄛ炵苀頗峈蠟恁寁郔蚥需瞳薹腔湃遴鼎茼輛俴話裝蝠眢﹝</p>
                </div>
              </section>
              <section>
<p class="title" data-section-title><a href="#">撓萸葆瞳洘? <i></i></a></p>
<div class="content" data-section-content>
<p>藩毞跡輿哏笥奀潔0萸植湔遴豻塗笢諶壺瞳洘﹝</p>
                </div>
              </section>
              <section>
<p class="title" data-section-title><a href="#">質堤訧踢衄瑞玸鎘ˋ <i></i></a></p>
<div class="content" data-section-content>
<p>瑞玸竭腴﹝蝠眢氪頗衄募遙瑞玸﹝Bitfinex悵蝠眢氪腔蝠眢婦衄逋劂腔訧踢盓葆累弇囷囮﹝婓質堤羶峈質堤訧踢鎗悵玸腔錶狟ㄛ彆珨跺蝠眢氪腔蝠眢豻塗拸楊盓葆囷囮ㄛ質堤頗囷囮窒煦質堤訧踢(艘湃遴悵玸)﹝</p>
                </div>
              </section>
              <section>
<p class="title" data-section-title><a href="#">衄悵玸腔湃遴迵拸悵玸腔湃遴衄梗鎘ˋ  <i></i></a></p>
<div class="content" data-section-content>
<p>硐衄絞庈部推攫ㄛ蝠眢氪拸楊撈奀呾累弇奀ㄛ拸悵玸腔湃遴踢塗符頗拸楊塗彶隙﹝庈部蝠眢腔囷囮頗掩歙煦怉善垀衄拸悵玸腔湃遴踢塗﹝眈毀腔ㄛBitfinex扢蕾腔揣掘價踢悵衄悵玸腔湃遴婦嬤瞳洘拸蹦睡奀飲夔塗彶隙﹝</p>
                </div>
              </section>
              <section>
<p class="title" data-section-title><a href="#">質堤訧踢奀腔※腹雄瞳薹§岆妦繫ˋ <i></i></a></p>
<div class="content" data-section-content>
<p>腹雄瞳薹: 蔚庈部囀垀衄嘐隅瞳薹腔歙硉壺眕湃遴硉ㄛ萸僻<a href="/pages/stats#interestrates" target="_blank">涴爵</a>. 腹雄瞳薹藩苤奀載陔﹝腹雄瞳薹腔蚥岊岆森瞳薹呴Bitcoin腔歎跡曹雄ㄩ絞歎跡奻汔奀ㄛ藝啋瞳薹汔詢˙眈肮腔ㄛ絞歎跡狟蔥奀BTC瞳薹狟蔥﹝質堤褫蚚森源楊悵祥頗婬瞳薹奻汔腔奀緊渠囥芘訧儂頗﹝蝠眢氪珩楷珋ㄛ絞瞳薹汔詢奀ㄛ坻蠅腔累弇瞳珩曹腕載詢﹝</p>
                </div>
              </section>
              <section>
<p class="title" data-section-title><a href="#">蝠眢氪夔堤質懂腔訧踢鎘ˋ <i></i></a></p>
<div class="content" data-section-content>
<p>祥夔ㄛ峈賸悵梤質堤ㄛ蝠眢氪硐夔婓Bitfinex妏蚚質懂腔訧踢ㄛ祥夔堤涴虳訧踢﹝</p>
                </div>
              </section>
              <section>
<p class="title" data-section-title><a href="#">妦繫岆※赻雄載陔質湃鼎茼§髡夔 <i></i></a></p>
<div class="content" data-section-content>
<p>慾魂森髡夔ㄛ炵苀頗婓斕腔湃遴徹奀ㄛ赻雄梑善茧衄肮欴沭遴腔湃遴甜傖蝠﹝</p>
                </div>
              </section>
              <section>
<p class="title" data-section-title><a href="#">扂褫眕湔Bitcoins鎘ˋ <i></i></a></p>
<div class="content" data-section-content>
<p>褫眕ㄐ蠟褫眕呴奀颯Bitcoins善蠟腔湔遴華硊﹝蠟珩褫眕蔚Bitcoins颯善蠟腔婦﹝</p>
                </div>
              </section>
              <section>
<p class="title" data-section-title><a href="#">遴垀剒奀潔ˋ <i></i></a></p>
<div class="content" data-section-content>
<p>羲籵賸邧笭痐髡夔腔蚚誧褫眕撈奀堤Bitcoins﹝坻遴寀剒馱紱釬﹝<br/>
  彆斕腔遴杅塗誕湮麼氪扂蠅腔遴婦豻塗峈錨ㄛ遴扠頗婓24苤奀囀俇傖﹝</p>
                </div>
              </section>
            </div>
            <br/>
            <a href="#top" class="top">TOP <i class="icon-angle-up"></i></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
