<% if logged_in? %>
    </div>
    </div>
<% end %>
<%= render "javascript" %>
<% title "Our technology" %>
<a name="top"></a>
<div class="content">
  <div class="row">
    <div class="large-12 columns">
      <div class="border">
        <h2><i class="icon-lock"></i> <span>Our Technology</span></h2>
        <hr/>
        <div class="row">
          <div class="large-9 columns">
            <h4>What do we do?</h4>
            <p>Bitfinex Inc. empowers you with top of the art software to provide cyrpto-currencies exchange, margin trading and P2P lending to your client. It uses a unique feature combining a P2P lending system to provide margin to leverage or short crypto-currencies.</p>
            <p>Bitfinex uses always up-to-date security practices for your peace of mind</p>
            <p>Contact us for me information: <a href="mailto:sales@bitfinex.com.hk">sales@bitfinex.com.hk</a></p>

            <a href="#top" class="top">TOP <i class="icon-angle-up"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>