*
{
	margin:auto;
}

body
{
	background-image:url(/assets/wallpaper_one.jpg);
	background-repeat:no-repeat;
	background-size:100% 1280px;
	margin:0;
	padding:0;
	overflow:hidden;
	font-family:"lato";
}

#Container
{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

#Menu
{
	background-image:url(/assets/bgtop-1.jpg);
	background-repeat:repeat-x;
	padding:10px;
	width:100%;
	height:112px;
}

#Menu ul
{
	text-align:center;
}

#Menu #ppl
{
	font-size:12px;
	text-align:left;
	margin-left:250px;
}

#Menu ul li
{
	display:inline-block;
	list-style:none;
	z-index:10;
}

#Menu ul li a
{
	text-decoration:none;
	margin-right:12px;
	font-size:14px;
	color:rgba(112,112,112,1.00);
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
}

#Menu ul li a:hover
{
	color:rgba(255,255,255,1.00);
}

#Menu ul li > #Actual
{
	color:rgba(255,255,255,1.00) !important;
	font-size:12px;
}

#Select
{
	position:absolute;
	top:-30px;
	left:275px;
	z-index:2;
}

#Logo
{
	margin-left:60px;
	margin-top:-5px;
}

#Desc
{
	margin-top:-30px;
	color:rgba(112,112,112,1.00);
}

#Monedas
{
	text-align:center;
	margin-top:-50px;
}

#Monedas #Descmonedas
{
	font-weight:bold;
	font-size:18px;
	color:rgba(113,113,113,1.00);
}

#Monedas > #aa
{
	background-image:url(/assets/shadows.png);
	background-repeat:no-repeat;
	background-position:143px center;
	width:520px;
	text-align:center;
}

#Monedas ul li > a
{
	
	font-size:12px !important;
	margin-right:10px;
}


#Menu #Menusec
{
	text-align:right;
	margin-right:80px;
	margin-top:-25px;
}

#Menu #Menusec #Act
{
	color:rgba(255,255,255,1.00);
}

table
{
	margin-right:10px;
	margin-top:-20px;
	cursor:pointer;
}

#Container #Contenido table #Inicio
{
	background-image:url(/assets/registersession2.png);
	background-repeat:no-repeat;
	background-position:center center;
	width:270px;
	height:33px;
	padding-top:15px;
}

#Container #Contenido table #Registro
{
	background-image:url(/assets/startsession2.png);
	background-repeat:no-repeat;
	background-position:center center;
	width:270px;
	height:33px;
	padding-top:15px;
}

#Container #Contenido table ul li
{
	list-style:none;
	text-align:center;
	margin-right:70px;
}

#Container #Contenido table ul li a
{
	text-align:center;
	font-size:14px;
	text-decoration:none;
	color:rgba(255,255,255,1.00);
}

#Container #Contenido #Info
{
	width:1054px;
	color:rgba(255,255,255,1.00);
	margin-left:150px;
	margin-top:-40px;
	font-family:"lato";
}

#Container #Contenido #Info h1
{
	font-family:"Lato Black", Sans serif;
	margin-bottom:35px;
	text-shadow:0px 1px 4px #000;
}
#Container #Contenido #Info #intercambio{float:left; width:395px; height:444px;}
.imgvender {float:left; margin-left:100px; margin-top:-35px;}
#vender{width:290px; height:444px;}
#vender li{width: 278px;height:106px;list-style-type:none;}
#vender li a{text-decoration: none;list-style-type: none;color: #FFF;font-family: "Lato Regular", Sans serif;}
#vender li:hover{width: 278px;height: 106px; background: url(/assets/trasnpa_intercambio.png)no-repeat;}
#vender .active{width: 278px;height: 106px; background: url(/assets/trasnpa_intercambio.png)no-repeat;}
.spadesea{font-size:19px; margin-left:-70px;line-height:45px;}
.spaintercambio{font-size:37px; margin-left:80px;line-height:15px;}
.spabit{font-size:16px; margin-left:80px;line-height:15px;}

#comprar{
	font-size:21px;
	color:FFF;
	font-family:"Lato Bold", Sans serif;
	width:353px;
	height:281px;
	text-decoration:none;
	list-style-type:none;
	
	}
input{margin-bottom:15px;
}

input#buy_price.order_price{
background-color: white;
font-family: inherit;
border: 1px solid #cccccc;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
color: rgba(0,0,0,0.75);
display: block;
margin: 0 0 1em 0;
padding: 0.5em;
width: 308px;
height:44px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
-moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

li span{ font-family:"Lato Regular", Sans Serif;
font-size:21px;}
.accion{ background:url(/assets/comprar_bitcoin.png)no-repeat;
background-position:center center;
margin-top:20px;
cursor:pointer;
border-radius:5px;
width:315px;
height:50px;
margin-bottom:20px;}
/*	
.vender2 a:hover{
	float:left;
	width: 278px;
	height: 106px
	background: url(/assets/trasnpa_intercambio.png)no-repeat;
	}
	

.vender{ width:278px; height:104px; margin:0px; padding:0px;}

#livender{
position:relative;
	padding-top: 10px;
	margin: 0px;
	text-decoration: none;
	list-style-type: none;
	color: #FFF;
	font-family: "Lato Regular", Sans serif;
	line-height:25px;
	margin-left: 70px;

}

*/
#Container #Contenido #Info #cliente p
{
	font-family:"lato Regular";
	font-size:19px;
	

}
#Container #Contenido #Info #cliente .numeros
{
	font-family:"lato Regular";
	font-size:37px;
}
#Container #Contenido #Info #precio{
	width:300px;
	float:left;
	font-family:"lato Regular";
	margin-left:130px;
	}
#Container #Contenido #Info #precio p{
	font-size:14px;
}
#Container #Contenido #Info #precio .numeros{
	font-size:28px;}
#Container #Contenido #Info img
{
	top:60px;
	left:-90px;
	position:relative;
}

#Container #Contenido #Login #Inicio, #Registro li a
{
	font-family:"lato-ligth";
}

#Preguntas
{
	margin-right:120px;
	margin-top:-240px;
}

#Container #Contenido #Preguntas table li
{
	text-align:right;
}

#Container #Contenido table #ques
{
	
	width:270px;
	height:33px;
	padding-top:15px;
	padding-right:30px;
	background-image:url(/assets/qesbitcoinslogosmall.png);
	background-repeat:no-repeat;
	background-position:center center;
}

#Container #Contenido table #ques:hover
{
	
}

#Container #Contenido table #comp
{
	
	width:270px;
	height:33px;
	padding-top:15px;
	padding-right:30px;
}

#Container #Contenido table #comp:hover
{
	background-image:url(/assets/comprayvendelogosmall.png);
	background-repeat:no-repeat;
	background-position:center center;
}

#Container #Contenido table #como
{
	
	width:270px;
	height:33px;
	padding-top:15px;
	padding-right:30px;
}

#Container #Contenido table #como:hover
{
	background-image:url(/assets/comohacerlologosmall.png);
	background-repeat:no-repeat;
	background-position:center center;
}

#Container #Contenido table #qui
{
	
	width:270px;
	height:33px;
	padding-top:15px;
	padding-right:30px;
}

#Container #Contenido table #qui:hover
{
	background-image:url(/assets/activerightmenu.png);
	background-repeat:no-repeat;
	background-position:center center;
}

@font-face
{
	font-family:"lato";
	src:url(../Lato-Reg.ttf);
}

@font-face
{
	font-family:"lato-ligth";
	src:url(../Lato-Lig.ttf);
}
 
